@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {--color-primary :#1c1d25;}
:root {--color-light: #ffffff;}
:root {--color-off-white: #dbd4d4;}
:root {--color-light-blue: #207dca;}
:root {--color-orange: #fe5722;}
:root {--color-yellow: #f8ff2d;}
:root {--color-light-grey: #272830;}
:root {--color-black: #000000;}

:root {--primary-font: 'Montserrat', sans-serif;}
:root {--secondary-font: 'Nunito', sans-serif;}

*{outline:none; }
body{
  padding: 0px;
  margin: 0px;
  background-color: var(--color-primary);
  font-family: var(--primary-font);
}
ul, h1, h2, h3, h4, h6{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}
h1, h2{
  font-family: var(--secondary-font);
  color:var(--color-light);
  font-size: 2.2em;
  text-transform: uppercase;
  margin-top: 25px;
}

p{
  margin-top: 5px;
  margin-bottom: 25px;
  opacity: 0.80;
  color: var(--color-light);
  font-size: 1.1em;
  line-height: 1.6;
  font-style: normal;
  font-weight: 300;
}
.button{
  border: 1px solid var(--color-yellow);
  font-size: 1.3em;
  padding: 10px 60px;
  align-self: center;
  border-radius: 8em;
  background-color: var(--color-yellow);
  font-family: 'Open Sans', sans-serif;
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  &:focus{background: var(--color-light);color: var(--color-primary);}
  &::before {
    content: '';
    position: absolute;
    background: transparent;
    left: 0px;
    top: 0px;
    width: 10px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &:hover::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: var(--color-primary);
    opacity: 1;
  }
  &:after{
    content:"My Work";
    color: var(--color-yellow);
    position: absolute;
    left:0px;
    opacity: 0;
    width: 100%;
  }
  &:hover::after{
    opacity: 1;
  }
}
.html{background-image: url(../img/skill-html.svg);}
.css{background-image: url(../img/skill-css.svg);}
.scss{background-image: url(../img/skill-scss.svg);}
.js{background-image: url(../img/js.svg);}
.jquery{background-image: url(../img/skill-jquery.svg);}
.bootstrap{background-image: url(../img/skill-bootstrap.svg);}
.foundation{background-image: url(../img/skill-foundation.svg);}
.react{background-image: url(../img/skill-react.svg);}
.wordpress{background-image: url(../img/wordpress.svg);}
.shopify{background-image: url(../img/skill-shopify.svg);}
.webflow{background-image: url(../img/webflow.svg);}
.photoshop{background-image: url(../img/photoshop.svg);}
.xd{background-image: url(../img/skill-xd.svg);}
.figma{background-image: url(../img/figma.png);}

.brd-bottom:after{
  content: "";
  width:15%;
  border: 1px solid var(--color-off-white);
  display: block;
  margin: 0px auto 0px;
}
.portfolio:after{
  content: "More" !important;
}



header{
  .logo{
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-light);
    text-align: center;
    a:focus{opacity: 0.5;}
    img{max-width: 100px; border-radius: 0px 0px 10px 10px;}
  }
  .nav{
    padding: 15px  15px 15px;
    max-width: 410px;
    margin: 0px auto;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      li{
        a{
          color: var(--color-light);
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-shadow: 1px 2px 2px rgba($color: var(--color-light), $alpha: 0.2);
          transition: all 0.3s;
          &:focus{color: var(--color-orange);}
          &:after{
            content: "...";
            text-align: center;
            font-size: 20px;
            margin: 0px auto;
            opacity: 0;
            transition: opacity 0.5s ease;
            display: block;
            letter-spacing: 2px;
          }
          &:hover:after{
            opacity: 1;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 769px) {
    display: flex;
    padding: 0px 15px;
    .logo{
      background-image: none;
      background-color: transparent;
    }
    .nav{
      margin-right: 15px;
      li{
        margin-left: 25px;
        margin-top: 10px;
      &:last-child a{
        background-color: var(--color-light);
        border-radius: 7px;
        color: var(--color-primary);
        padding: 5px 15px;
        &:after{display: none;}
        &:hover{
          background-color: var(--color-light-grey);
          color: var(--color-light);
        }
      }
      }
    }
  }
}

main, header{max-width: 1340px; margin: 0px auto;}

section.profile{
  padding: 15px;
  text-align: center;
  p{
    margin-bottom: 10px;
  }
  
  .profile-btn{
    display: inline-block;
    margin-top: 35px;
  }
  .profile-btn::after{
    content:"My Work";
    text-align: center;
  }
  .profile-pic{
    @media only screen and (max-width: 900px) {
      max-width: 370px;
      margin: 0px auto;
    }

    img{
      width: 100%;
      filter:drop-shadow(6px 6px 12px var(--color-black));
    }
  }
  @media only screen and (min-width: 901px) {
    display: flex;
    text-align: left;
    div:first-child{
      order: 2;
    }
    div{
      flex: 1 0 46%;
      margin: 0 0;
    }
  }
}

section.about{
  text-align: center;
  border-top: 5px solid var(--color-light-grey);
  margin-top: 50px;
  padding: 15px;
  .box{
    padding: 35px 25px;
    border-radius: 18px;
    background-color: var(--color-light-grey);
    color: var(--color-light);
    p{min-height: 150px;}
    h6{
      color: var(--color-off-white);
      font-weight: 300;
      font-size: 1.2em;
    }
    h2{
      font-weight: 300;
      font-size: 1.6em;
      text-transform: capitalize;
      margin-top: -3px;
      margin-bottom: 25px;
      font-family: var(--primary-font);
    }
    h3{
      color: #3b3c47;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .about-wrap{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      div{
        max-width: 46%;
        
      }
    }
    
  }
}

section.skill{
  text-align: center;
  border-top: 5px solid var(--color-light-grey);
  margin-top: 70px;
  padding: 15px;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1em;
    
    li{
      flex-basis: 150px;
      padding: 20px 15px;
      margin-bottom: 2em;
      border-radius: 20px;
      box-shadow: 0 0 20px -7px var(--color-black);
      background-repeat: no-repeat;
      background-position: center 30%;
      background-size: 40%;
      height: 136px;
      display: flex;
      justify-content: center;
      align-items: flex-end; 
      transform: scale(1);
      transition: transform 0.5s ease;
      &:hover{
        transform: scale(1.2);
      }     
      span{
        color: var(--color-light);
        margin-top: 25px;
        padding-top: 0px;
        font-size: 1.1em;
        opacity: 0.8;
        font-weight: 300;
      }
    }
  }
  
}

section.projects{
  text-align: center;
  border-top: 5px solid var(--color-light-grey);
  margin-top: 20px;
  padding: 15px;
  ul.bx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > li{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 10px 35px 25px;
      margin: 20px 0px;
      img{width: 100%;}
      
      &:nth-child(even){
      border-radius: 20px;
      box-shadow: 0 0 20px -7px var(--color-black);
      }

      &:nth-child(odd){
        margin-top: 30px;
        i{color:var(--color-light-grey); font-size: 1.5em;}
      }
      h2{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-bottom: 20px;
      }
      .used{
        display: flex;
        justify-content: space-around;
        margin: 0px auto;
        max-width: 290px;
        li{
          padding: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        } 
      }
      @media only screen and (min-width: 769px) {
        flex-basis: 45%;
        min-height: 350px;
        transition: all 0.5s;
        &:nth-child(odd){display: none;}
        &:nth-child(even){box-shadow: none;}
        &.project-one{
          background-image: url(../img/project1_test.png);
        }
        &.project-two{
          background-image: url(../img/project2.png);
        }
        &.project-three{
          background-image: url(../img/project3.png);
        }
        &.project-four{
          background-image: url(../img/project4.png);
        }
        h2, p, .used{opacity: 0; transition: all 1s;}
        &:hover{
          h2, p, .used{opacity: 1;}
          background-image: none;
          box-shadow: 0 0 20px -7px var(--color-black);
        }
        .used{margin: 0px;}
      }   
    }
  }
  
}

section.contact{
  text-align: center;
  border-top: 5px solid var(--color-light-grey);
  margin-top: 20px;
  padding: 15px;
  ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      flex-basis: 47%;
      margin-bottom: 35px;
      &:last-child{
        flex-basis: 100%;
      }
      @media only screen and (max-width: 767px) {
        flex-basis: 100%;
      }
        
      }
      input, textarea{ 
        padding: 15px 20px; 
        border: 0px solid var(--color-black);
        border-radius: 20px;
        background-color: var(--color-light-grey);
        color: var(--color-light);
        font-size: 1.4em;
        width: 100%;
        font-weight: 300;
        resize: none;
        border: 1px solid var(--color-light-grey);
        &:focus{border-radius: 20px; border: 1px solid var(--color-light);}
      }
    }
    
  }
  .button::after{
    content:"Submit";
  }


section.social-connect{
  text-align: center;
  border-top: 5px solid var(--color-light-grey);
  margin-top: 20px;
  padding: 15px;
  ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
    align-items: baseline; 
    li{
      padding: 10px;
      img{width: 100%;}
      a{
        transition: all 0.5s ease;
      }
      a:hover{
        opacity: 0.7;
      } 
    }
  }
}
footer{
  margin-bottom: 0px;
  padding: 30px 0px;
  background-color: var(--color-light-grey);
  text-align: center;
  color: var(--color-light);
  font-size: 1.2em;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  section.about .box{margin-top: 20px;}
}
@media only screen and (min-width: 900px) and (max-width: 1220px) {
  section{
    border-top: 0px !important;
    text-align: left !important;
    > h2{padding-left: 15px;}
  }
  section.about .box h3{font-size: 3em;}
  h1, h2{
    font-size: 2.9em;
  }
  p{
    font-size: 1em;
  }
}
@media only screen and (min-width: 900px) {
 
.brd-bottom::after {margin: 0px;}
  section.about .box p{min-height: auto;}
 
  
  .submit{display: inherit;margin: 0px auto;}
}

@media only screen and (min-width: 1221px) {
  section{
    border-top: 0px !important;
    text-align: left !important;
  }
  h1, h2{
    font-size: 4.2em;
  }
  p{
    font-size: 1.2em;
  }
  section.about .box h3{font-size: 4em;}
}